body{
    background-color: black;
}
div{
    margin: 200px;
}
div span{
    width: 30px;
    text-align: center;
    padding: 15px 25px;
    color: white;
    font-size: 35px;
    font-family: 'Comic Sans MS',sans-serif;
    margin: 15px;
    border-radius: 10px;
    display: inline-block;
    animation: move 0.8s infinite linear;
}
@keyframes move{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(150px);
    }
}

span:nth-child(1){
    background: linear-gradient(45deg,black,purple);
    box-shadow: 0 5px 15px purple;
    animation-delay: 0.1s;
}
span:nth-child(2){
    background: linear-gradient(45deg,black,yellow);
    box-shadow: 0 5px 15px yellow;
    animation-delay: 0.2s;
}
span:nth-child(3){
    background: linear-gradient(45deg,black,blueviolet);
    box-shadow: 0 5px 15px blueviolet;
    animation-delay: 0.3s;
}
span:nth-child(4){
    background: linear-gradient(45deg,black,red);
    box-shadow: 0 5px 15px red;
    animation-delay: 0.4s;
}
span:nth-child(5){
    background: linear-gradient(45deg,black,limegreen);
    box-shadow: 0 5px 15px limegreen;
    animation-delay: 0.5s;
}
span:nth-child(6){
    background: linear-gradient(45deg,black,orange);
    box-shadow: 0 5px 15px orange;
    animation-delay: 0.6s;
}
span:nth-child(7){
    background: linear-gradient(45deg,black,teal);
    box-shadow: 0 5px 15px teal;
    animation-delay: 0.7s;
}