body{
    margin: 0;
}
.road{
    background-image: url('img/road.png');
    position: relative;
    width: 100%;
    height: 300px;
}
.road img{
    position: absolute;
    width: 100px;
    top: 148px;
    animation: cycle 8s infinite linear;
}
@keyframes cycle{
    0%{
        transform: translateX(-150px);
    }
    100%{
        transform: translateX(1400px);
    }
}
.grass{
    background-image: url('img/grass.PNG');
    height: 375px;
}